<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :post_image %></label>
  <div class="col-md-8">
    <%= f.file_field :post_image, accept: 'image/*' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :title %></label>
  <div class="col-md-8">
    <%= f.text_field :title, placeholder: "お店や観光地の名称など", autofocus: true, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :body %></label>
  <div class="col-md-8">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :airport %></label>
  <div class="col-md-8">
    <%= f.text_field :airport, class: 'form-control' %>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :tag_id %></label>
  <div class="col-md-8">

    <% Tag.all.each do |tag| %>
    <div>
      <%= f.check_box :tag_ids, { multiple: true, checked: post.tags.find_by(id: tag.id).present?, include_hidden: false }, tag[:id] %>
      <span class="form-check-label">
        <%= tag.name %>
      </span>
    </div>
    <% end %>

    <!--%= f.collection_select(:tag_ids, Tag.all , :id, :name, {prompt: "選択してください"}, {class: "form-control js-example-basic-multiple",multiple: true, include_hidden: false}) %>-->
  </div>
</div>

<div class="form-group row">
  <label class="col-md-4 col-form-label"><%= f.label :address %></label>
  <div class="col-md-8">
    <%= f.text_field :address, placeholder: "住所または施設名", class: 'form-control' %>
    <small class="text-muted">*住所は入力しなくても投稿可能です</small>
  </div>
</div>