<div class="card">
  <%= link_to post_path(post), class: 'text-dark' do %>
    <%= image_tag post.get_post_image, class: 'card__img-top' %>
    <div class="card-body ml-2">
      <div class="row">
        <h4 class="card__title"><%= post.title %></h4>
      </div>
      <div class="row">
        <p class="card__text"><i class="fas fa-comment-dots"></i> <%= post.body %></p>
      </div>
    <% end %>
      <div class="row">
        <p class="card__posts-tags">
          <i class="fas fa-bookmark"></i>
          <%= post.bookmarks.count %>
          <span> | </span>
          <i class="fas fa-plane"></i>
          <%= link_to post.airport, posts_path(airport: post.airport), class: "text-dark border-bottom" %>
        </p>
      </div>
      <div class="row">
        <p class="card__post-tags">
          <i class="fas fa-tag"></i>
          <% post.tags.each do |tag| %>
            <%= link_to posts_path(tag_ids: tag.id), class: 'btn btn-sm btn-other' do %>
              <%= tag.name %>
            <% end %>
          <% end %>
        </p>
      </div>

    <div class="row top-image d-flex justify-content-between">
      <%= link_to user_path(post.user), class: 'd-flex align-items-end text-dark' do %>
        <%= image_tag post.user.get_profile_image(25,25), class: 'rounded-circle border' %>&nbsp; &nbsp;
        <span class="border-bottom"><%= post.user.name %></span>
      <% end %>
      <span class="text-muted pr-3"><small><%= post.created_at.strftime('%Y/%m/%d') %></small></span>
    </div>
  </div>
</div>