<!--下書きの投稿であることを表示-->
<% if @post.is_draft == true %>
  <div class="col-md-6 mb-5">
    <h4>※これは下書きです。</h4>
  </div>
<% end %>
<!--投稿の写真部分-->
<div class="row">
  <div class="col-md-6">
    <div class="row d-flex flex-column align-content-center">
      <div class="post-image">
        <%= image_tag post.get_post_image, size: '400x400' %>
      </div>
      <!--ブックマーク-->
      <div class="bookmark-btn my-3 h4">
        <!--ユーザーがログインしていて、投稿が公開されている時-->
        <% if post.is_draft == false && user_signed_in? %>
          <%= render 'public/bookmarks/bookmark-btn', post: post %>
        <% end %>
        <!--ユーザーがログインしていない時-->
        <% unless user_signed_in? %>
          <i class="far fa-bookmark"></i> <%= post.bookmarks.count %>
        <% end %>
      </div>
    </div>
  </div>

  <!--投稿詳細右半分-->
  <div class="col-md-6">
    <div class="postRight">
      <div class="row d-flex flex-column pl-1">
        <div class="post-title">
          <h3><span><%= post.title %></span></h3>
        </div>
        <div class="post-body">
          <p class="ml-2 mt-3"><%=safe_join(post.body.split("\n"),tag(:br))%></p>
        </div>
        <div class="post-tags">
          <p><i class="fas fa-tag"></i>
            <% if post.tags.present? %>
              <% post.tags.each do |tag| %>
                <%= link_to posts_path(tag_ids: tag.id), class: 'text-dark border-bottom mr-3' do %>
                  <%= tag.name if tag.present? %>
                <% end %>
              <% end %>
            <% end %>
            <br>
            <i class="fas fa-plane"></i> <%= link_to post.airport, posts_path(airport: post.airport), class: 'text-dark border-bottom' %>
          </p>
        </div>
      </div>
      <div class="row d-flex justify-content-between pr-1">
        <div>
          <% if admin_signed_in? %>
            <%= link_to admin_user_path(post.user), class: 'd-flex align-items-end text-dark' do %>
              <%= image_tag post.user.get_profile_image(35,35), class: 'rounded-circle border' %>&nbsp;&nbsp;
              <span class="border-bottom"><%= post.user.name %></span>
            <% end %>
          <% else %>
            <%= link_to user_path(post.user), class: 'd-flex align-items-end text-dark' do %>
              <%= image_tag post.user.get_profile_image(35,35), class: 'rounded-circle border' %>&nbsp;&nbsp;
              <span class="border-bottom"><%= post.user.name %></span>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex align-items-end">
          <%= post.created_at.strftime('%Y/%m/%d') %>
          <% if current_user == post.user %>
            <span>　|　</span>
            <%= link_to edit_post_path(post.id), class: 'text-dark border-bottom text-muted' do %>
              <i class="far fa-edit"></i>
            <% end %>
            <span>　|　</span>
            <%= link_to post_path(post.id), method: :delete, class: 'text-dark border-bottom text-muted', data: {confirm: "この投稿を削除しますか？"} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>