<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto py-5">
      <h3><span class="public-title"><i class="far fa-edit"></i> 投稿編集</span></h3>
    </div>
  </div>
  <%= render "error", obj: @post %>
  <div class="form-group d-flex justify-content-center">
    <%= form_with model: @post, method: :patch do |f| %>
      <%= render 'form', f: f %>
      <div class="actions d-flex justify-content-around pb-5">
        <% if @post.is_draft == true %>
          <%= f.submit "下書きを公開", :name => 'publicize_draft', class: 'mr-5 btn btn-sm btn-warning mr-5' %>
          <%= f.submit "下書きのまま更新", :name => 'update_draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
        <% else %>
          <%= link_to '戻る', post_path(@post), class: 'btn btn-sm btn-outline-success mr-5' %>
          <%= f.submit "更新", :name => 'update_post', class: 'ml-5 btn btn-outline-warning text-dark' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
