<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto py-5">
      <h3><span class="public-title"><i class="far fa-edit"></i> 新規投稿</span></h3>
    </div>
  </div>

  <%= render "error", obj: @post %>
  <div class="form-group d-flex justify-content-center">
    <%= form_with model: @post do |f| %>
      <%= render 'form', f: f %>
      <div class="actions d-flex justify-content-around pb-5">
        <%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-outline-secondary' %>
        <%= f.submit '投稿する', :name => 'send', class: 'ml-5 btn btn-other px-4' %>
      </div>
    <% end %>
  </div>
</div>