<div class="container">

 <%= render "error", obj: @post %>

  <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_with model: @post do |f| %>
        <table class="table table-borderless">
          <div class="form-group">
             <tr>
               <td><%= f.label :post_image %></td>
               <td><%= f.file_field :post_image, accept: 'image/*' %></td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
               <td><%= f.label :title %></td>
               <td><%= f.text_field :title, autofocus: true %></td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
               <td><%= f.label :body %></td>
               <td><%= f.text_area :body %></td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
               <td><%= f.label :airport %></td>
               <td><%= f.text_field :airport %></td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
                <td><%= f.label :tag_id %></td>
                <td><%= f.collection_select(:tag_id, Tag.all, :id, :name, {prompt: "選択してください"}, {class: 'form-control'}) %></td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
               <td>位置情報</td>
               <td>位置情報を入力できるようにする</td>
             </tr>
           </div>
           <div class="form-group">
             <tr>
                <td><%= f.submit '投稿する', :name => 'send', class: 'mr-5 btn btn-sm btn-warning text-white' %></td>
                <td><%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %></td>
             </tr>
           </div>
        </table>
      <% end %>
    </div>
  </div>
</div>