<div class="container">
  <div class="row mt-5">
    <% if params[:q].present? && params[:q][:title_cont].present? %>
      <h2><span class="public-title"><i class="fas fa-search"></i> "<%= params[:q][:title_cont] %>"の検索結果一覧<span></h2>
    <% elsif params[:q].present? && params[:q][:tags_id_in].present? %>
      <h2>
        <span class="public-title">
          <i class="fas fa-search"></i>
          <% Tag.find(params[:q][:tags_id_in]).each do |tag| %>
          "<%= tag.name %>"
          <% end %>
          の検索結果一覧
        </span>
      </h2>
    <% elsif params[:q].present? && params[:q][:airport_cont].present? %>
      <h2><span class="public-title"><i class="fas fa-search"></i> "<%= params[:q][:airport_cont] %>"の検索結果一覧</span></h2>
    <% else %>
      <h2><span class="public-title"><i class="fas fa-search"></i> 投稿一覧</span></h2>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <!--検索結果がある場合-->
    <% @posts.each do |post| %>
      <div class="col-md-4 my-4">
        <%= render 'post-card', post: post %>
      </div>
    <% end %>
    <!--検索結果がない場合-->
    <% unless @posts.present? %>
    <div class="col-md-4 my-4">
      <p class="text-muted h6">まだ投稿がありません。</p>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto py-5 d-flex justify-content-center">
      <p><%= paginate @posts %></p>
    </div>
  </div>
</div>

