<div class="container">
  <div class="row">
    <div class="col-md-5 offset-1 pt-5">
      <div class="post h3">
        <%= @post.title %>
      </div>
      <div class="post">
        <%= image_tag @post.get_post_image(400,400) %>
      </div>
    </div>
    <div class="col-md-5 pt-5">
      <div class="post pt-5">
        <%= @post.body %>
      </div>

        <% if @post.bookmarked_by?(current_user) %>
          <p>
            <%= link_to post_bookmarks_path(@post), method: :delete do %>
              ♥<%= @post.bookmarks.count %> いいね
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to post_bookmarks_path(@post), method: :post do %>
              ♡<%= @post.bookmarks.count %> いいね
            <% end %>
          </p>
        <% end %>


      <div>
        <p>コメント<%= @post.post_comments.count %>件</p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(30,30), class: 'border' %>
          <%= post_comment.user.name %>&emsp;<%= post_comment.comment %></p>
          <small class="text-muted"><p>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          </p></small>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

      <div class="post pt-3">
        <%= link_to @post.tag.name, root_path, class: 'text-dark border-bottom' %>
        <% if current_user == @post.user %>
          <%= link_to '編集', edit_post_path(@post.id), class: 'text-dark border-bottom' %>
          <%= link_to '削除', post_path(@post.id), method: :delete, class: 'text-dark border-bottom' %>
        <% end %>
      </div>
    </div>
  </div>
</div>