<div class="container my-5 py-5">
  <!--投稿詳細-->
  <%= render "post-detail", post: @post %>

  <div class="row">
    <div class="col-md-6">
      <!--コメントエリア-->
      <div class="row d-flex flex-column">
        <div class="col-md-10 mx-auto">
          <% if @post.is_draft == false && user_signed_in? %>
            <h5 class="my-3"><span class="comment-title"><i class="far fa-comments"></i> コメント</span></h5>
            <div class="comment-area">
              <%= render 'public/post_comments/comment-area', post: @post, comments: @comments %>
            </div>
            <div class="row pt-2 d-flex justify-content-center">
              <p><%= paginate @comments %></p>
            </div>
          <% end %>
        </div>
        <!--コメントフォーム-->
        <div class="comment-form col-md-10 mx-auto">
          <%= render 'public/post_comments/comment-form', post: @post, post_comment: @post_comment %>
        </div>
        <!--ユーザーがログインしていないとき-->
        <div class="not-signin col-md-8 mx-auto d-flex mt-5">
          <% unless user_signed_in? %>
            <i class="fas fa-bullhorn mt-1"></i>
            <p class="ml-4">
              <%= link_to '会員登録', new_user_registration_path, class: 'border-bottom', style: 'color: #ff7f50;' %>
              して投稿をブックマークしたり、<br>
              コメントしてみよう！
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!--マップ表示-->
      <div class="address py-2 mt-4">
        <!--住所登録されているとき-->
        <% if @post.address.present? %>
          <p><i class="fas fa-map-marker-alt"></i> <%= @post.address %></p>

          <div id='map'></div>
          <script>
            let map
            const addressDis = document.getElementById('addressDisplay')

            function initMap(){
              geocoder = new google.maps.Geocoder()
              var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};

              map = new google.maps.Map(document.getElementById('map'), {
                center: test,
                zoom: 15,
                mapTypeControl: true,
                streetViewControl: true
              });

              var contentString = '住所：<%= @post.address %>';
              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });

              marker = new google.maps.Marker({
                position:  test,
                map: map,
                title: contentString
              });

            }
          </script>
          <script async
              src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %>&callback=initMap">
          </script>

        <!--住所が登録されていないとき-->
        <% else %>
          <p><i class="fas fa-map-marker-alt"></i> 住所が登録されていません</p>
        <% end %>
      </div>

    </div>
  </div>
</div>
