<div class="container my-5 py-5">
      <!--下書きの投稿であることを表示-->
  <% if @post.is_draft == true %>
    <div class="col-md-6 mb-5">
      <h4>※これは下書きです。</h4>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="post-image">
          <%= image_tag @post.get_post_image, size: '350x350' %>
        </div>
      </div>

      <!--ここからブックマーク-->
      <div class="row offset-md-2 mb-4 pl-1">
        <div class="bookmark-btn my-3 h4">
          <!--ユーザーがログインしていて、投稿が公開されている時-->
          <% if @post.is_draft == false && user_signed_in? %>
            <%= render 'public/bookmarks/bookmark-btn', post: @post %>
          <% end %>
          <!--ユーザーがログインしていない時-->
          <% unless user_signed_in? %>
            <i class="far fa-bookmark"></i> <%= @post.bookmarks.count %>
          <% end %>
        </div>
      </div>
    </div>

      <!--投稿詳細右半分-->
      <div class="col-md-6 mx-auto">
        <div class="postRight">
          <div class="row d-flex flex-column pl-1">
            <div class="post-title">
              <h3><span><%= @post.title %></span></h3>
            </div>
            <div class="post-body">
              <p class="ml-2 mt-3"><%=safe_join(@post.body.split("\n"),tag(:br))%></p>
            </div>
            <div class="post-tags">
              <p><i class="fas fa-tag"></i>
                <% if @post.tags.present? %>
                  <%= link_to  search_index_path(tag_id: @post.tag.id), class: 'text-dark border-bottom' do %>
                    <%= @post.tag.name if @post.tag.present? %>
                  <% end %>
                <% end %>
                <span>　|　</span>
                <i class="fas fa-plane"></i> <%= link_to @post.airport, search_index_path(airport: @post.airport), class: 'text-dark border-bottom' %>
              </p>
            </div>
          </div>
        <div class="row d-flex justify-content-between pr-1">
          <div>
            <%= link_to user_path(@post.user), class: 'd-flex align-items-end text-dark' do %>
              <%= image_tag @post.user.get_profile_image(35,35), class: 'rounded-circle border' %>&nbsp;&nbsp;
              <span class="border-bottom"><%= @post.user.name %></span>
            <% end %>
          </div>

          <div class="d-flex align-items-end">
            <%= @post.created_at.strftime('%Y/%m/%d') %>
            <% if current_user == @post.user %>
              <span>　|　</span>
              <%= link_to edit_post_path(@post.id), class: 'text-dark border-bottom text-muted' do %>
                <i class="far fa-edit"></i>
              <% end %>
              <span>　|　</span>
              <%= link_to post_path(@post.id), method: :delete, class: 'text-dark border-bottom text-muted', data: {confirm: "この投稿を削除しますか？"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% if @post.is_draft == false && user_signed_in? %>
    <div class="row offset-md-1 my-3">
      <h5 class="comment-title ml-1"><i class="far fa-comments"></i> コメント</h5>
    </div>
  <% end %>
      <!--コメントエリア-->
  <div class="row">
    <div class="comment-area col-md-5 offset-md-1">
      <% if @post.is_draft == false && user_signed_in? %>
        <%= render 'public/post_comments/comment-area', post: @post, comments: @comments %>
      <% end %>
    </div>

    <div class="col-md-6">
      <!--コメントフォーム-->
      <div class="comment-form">
        <%= render 'public/post_comments/comment-form', post: @post, post_comment: @post_comment %>
      </div>
      <!--ユーザーがログインしていないとき-->
      <div class="not-signin d-flex">
        <% unless user_signed_in? %>
          <i class="fas fa-bullhorn mt-1"></i>
          <p class="ml-4">
            <%= link_to '会員登録', new_user_registration_path, class: 'border-bottom', style: 'color: #ff7f50;' %>
            して投稿をブックマークしたり、<br>
            コメントしてみよう！
          </p>
        <% end %>
      </div>

      <!--マップ表示-->
      <div class="address py-2 mt-4">
        <% if @post.address.present? %>
          <p><i class="fas fa-map-marker-alt"></i> <%= @post.address %></p>
        <% else %>
          <p><i class="fas fa-map-marker-alt"></i> 住所が登録されていません</p>
        <% end %>
      </div>
      <div id='map'></div>

      <style>
        #map {
          height: 300px;
          width: 400px;
        }
      </style>

      <script>
        let map
        const addressDis = document.getElementById('addressDisplay')

        function initMap(){
          geocoder = new google.maps.Geocoder()
          var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};

          map = new google.maps.Map(document.getElementById('map'), {
            center: test,
            zoom: 15,
            mapTypeControl: true,
            streetViewControl: true
          });

          var contentString = '住所：<%= @post.address %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

          marker = new google.maps.Marker({
            position:  test,
            map: map,
            title: contentString
          });

            addressDis.innerHTML = results[0].formatted_address;
        }
      </script>

      <script async
          src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %>&callback=initMap">
      </script>
    </div>
  </div>
</div>
