<div class="container my-5">
  <div class="row">

    <div class="col-md-6">
      <div class="post-image d-flex justify-content-center">
        <%= image_tag @post.get_post_image, size: '400x400' %>
      </div>
      <div class="post-info my-3 d-flex justify-content-end mr-md-5 h4">
      <!--ユーザーがログインしていて、投稿が公開されている時-->
        <% if @post.is_draft == false && user_signed_in? %>
        <!--ここからブックマーク-->
          <% if @post.bookmarked_by?(current_user) %>
            <%= link_to post_bookmarks_path(@post), class: "text-dark", method: :delete do %>
              <i class="fas fa-bookmark"></i> <%= @post.bookmarks.count %>
            <% end %>
          <% else %>
            <%= link_to post_bookmarks_path(@post), class: "text-dark", method: :post do %>
              <i class="far fa-bookmark"></i> <%= @post.bookmarks.count %>
            <% end %>
          <% end %>
            <!--<p class="d-inline pl-3"><i class="far fa-comment-dots"></i> %= @post.post_comments.count %></p>-->
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
        <div class="post-title align-self-start">
          <h3><i class="far fa-flag"></i> <span><%= @post.title %></span></h3>
        </div>
        <div class="post-body align-self-center">
          <p class="ml-4"><%= @post.body %></p>
        </div>
        <div class="post-tags align-self-end">
          <p><i class="fas fa-tag"></i> <%= @post.tag.name if @post.tag.present? %>　|　<i class="fas fa-plane"></i> <%= @post.airport %></p>
        </div>
      </div>
    </div>

    <!--コメントエリア-->
    <div class="row offset-md-1">
      <h4><i class="far fa-comments"></i> コメント： <%= @post.post_comments.count %> </h4>
    </div>
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <% @post.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.get_profile_image(30,30), class: 'rounded-circle border' %>
          <%= link_to user_path(post_comment.user), class: 'text-dark' do %>
            <%= post_comment.user.name %>
          <% end %>
            : <%= post_comment.comment %>
          <small class="text-muted"><p>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            <% if post_comment.user == current_user %>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
            <% end %>
          </p></small>
        <% end %>
      </div>
      <div class="col-md-6">
        <% if @post.is_draft == false && user_signed_in? %>
          <%= form_with model: [@post, @post_comment] do |f| %>
            <div class="action">
              <div class="form-area">
                <%= f.text_area :comment, rows: '2', placeholder: "コメントをここに", class: 'form-control' %>
              </div>
              <div class="bottom d-flex justify-content-end">
                <%= f.submit "送信する", class: 'btn btn-outline-warning text-dark btn-sm mt-2' %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
