
<!--メインビジュアル部分-->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
	 <ol class="carousel-indicators">
    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
  </ol>
	<div class="carousel-inner bgCarousel">
		<div class="carousel-item bgCarousel__item active"></div>
		<div class="carousel-item bgCarousel__item"></div>
		<div class="carousel-item bgCarousel__item"></div>
		<div class="carousel-caption d-none d-md-block">
      <h2 class="bgCarousel__mv-title"><span class="bgCarousel__caption--bg">旅をもっと快適に</span></h2>
      <p class="bgCarousel__mv-body"><span class="bgCarousel__caption--bg">旅行も出張も、時間を持て余すことなく楽しみ尽くす<span></p>
    </div>
	</div>
</div>

<!--メインビジュアル下の説明-->
<div class="top-bg py-5">
  <div class="container topMain">
    <div class="row py-5 my-5 d-flex justify-content-center text-center">
      <div class="col-md-6 about-box">
        <h1><span class="topMain__about">It's Fun To Travel <i class="fas fa-plane"></i></span></h1>
        <h4 class="pt-3 topMain__body">AIRSUPPORTで旅をもっと気軽に楽しもう</h4>
        <h4 class="pt-2 topMain__body"><i class="fas fa-search-location"></i> 空港からすぐ近くの、お店や場所を探す</h4>
      </div>
      <div class="col-md-6 align-self-center d-flex justify-content-around">
        <div class="top-link d-inline">
          <%= link_to about_path, class: 'btn btn-outline-warning text-dark pr-5' do %>
            <i class="fas fa-check fa-lg" style="color: #95e1d3;"></i>
          　About
          <% end %>
        </div>
        <div class="top-link d-inline">
          <%= link_to search_path, class: 'btn btn-outline-info text-dark pr-5' do %>
            <i class="fas fa-search fa-lg" style="color: #95e1d3;"></i>
          　Search
          <% end %>
        </div>
      </div>
    </div>

<!--NEWPOST部分-->
    <div class="row pt-5 mt-5">
      <div class="col-md-7">
        <h2><span class='newPosts'><i class="far fa-star"></i>New Posts</span></h2>

        <% @posts.each do |post| %>
          <div class="card mt-4">
            <div class="row">
              <div class="col-md-4">
                <%= image_tag post.get_post_image, class: 'newPosts__img-fluid' %>
              </div>

              <div class="col-md-8 d-flex flex-column justify-content-between">
                <%= link_to post_path(post), class: 'text-dark' do %>
                <h5 class="card-title font-weight-bold pt-3"><%= post.title %></h5>
                <% end %>
                <p class="card-text"><%= post.body.truncate(30) %></p>
                <div class="card-text d-flex justify-content-between pb-3 pr-3">
                  <p><small>
                    <i class="fas fa-tag"></i>
                    <%= link_to post.tag.name, search_index_path(tag_id: post.tag.id), class: "text-dark border-bottom" %>
                    <span> | </span>
                    <i class="fas fa-plane"></i>
                    <%= link_to post.airport, search_index_path(airport: post.airport), class: "text-dark border-bottom" %>
                    <br>
                    <i class="fas fa-user"></i>
                    <%= link_to post.user.name, user_path(post.user), class: 'text-dark border-bottom' %>
                    <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
                  </small></p>
                  <div class="align-self-center"><%= link_to "Read More", post_path(post), class: 'btn btn-outline-success btn-sm align-left' %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-end my-3">
          <%= link_to posts_path do %>
            <i class="fas fa-check fa-lg" style="color: #95e1d3;"></i>
            <span class="text-dark border-bottom">全ての投稿を見てみる</span>
          <% end %>
        </div>
      </div>

      <div class="col-md-5">
        <h3><span class='newPosts'><i class="far fa-thumbs-up"></i>Today's Recommend</span></h3>

      </div>
    </div>
  </div>
</div>