<!--MV-->
<div class="container-fluid">
  <div class="row mvTop">
    <!--カルーセル部分-->
    <div class="col-md-7 p-0">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      	 <ul class="carousel-indicators">
          <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleFade" data-slide-to="1"></li>
          <li data-target="#carouselExampleFade" data-slide-to="2"></li>
        </ul>
      	<div class="carousel-inner bgCarousel">
      		<div class="carousel-item bgCarousel__item active"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      	</div>
      </div>
    </div>
    <!--文字部分-->
    <div class="topMain col-md-5 d-flex flex-column justify-content-center">
      <div class="row justify-content-center">
        <h1><span class="topMain__about">It's Fun To Travel <i class="fas fa-plane" style="color: #ff7f50;"></i></span></h1>
        <h4 class="pt-3 topMain__body"><span class="topMain__body--span">AIRSUPPORT</span>で旅をもっと気軽に楽しもう</h4>
        <h4 class="pt-2 topMain__body"><i class="fas fa-search-location"></i> 空港からすぐ近くの、お店や場所を探す</h4>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="topLink d-flex">
          <%= link_to about_path, class: 'btn topLink__btn px-5 mt-5' do %>
            <i class="fas fa-check fa-lg"></i>
            AIRSUPPORTについて
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--会員登録案内部分-->
<div class="container topGuidance py-5 my-5">
  <div class="col-11 mx-auto topGuidance__col d-flex align-items-center flex-column">
    <h3 class="topGuidance__title my-4"><span class="topGuidance__title--span"><i class="fas fa-user-plus"></i> </span>会員登録するとできること</h3>
    <ul class="topGuidance__body p-3">
      <li>あなたの思い出や情報をシェアできるようになります</li>
      <li>お気に入りの投稿をブックマークに保存できます</li>
      <li>投稿は下書きとして非公開にしておくことも可能です</li>
      <li>気になるユーザーの投稿一覧がチェックできます</li>
    </ul>
    <%= link_to '新規会員登録する', new_user_registration_path, class: 'btn topLink__btn mb-3 px-5' %>
  </div>
</div>


<div class="container-fluid newPosts py-5 my-5">
  <div class="col-md-11 mx-auto d-md-flex newPosts__col">
    <!--NEWPOST-->
    <div class="col-md-6 bg-white">
      <h3 class="mt-3"><span class='newPosts__span'><i class="fas fa-star", style="color: #ff7f50;"></i> New Post</span></h3>
        <%= render 'new-post', posts: @posts %>
      <div class="newPosts__more d-flex justify-content-end">
        <%= link_to posts_path, class: 'btn btn-other px-3 mt-2' do %>
          <i class="fas fa-plane"></i>
          全ての投稿を見る
        <% end %>
      </div>
    </div>
    <div class="box-responsive"></div>
    <!--best3部分-->
    <div class="col-md-6 bg-white">
      <div class="col-md-9 mx-auto">
        <h3 class="mt-3"><span class='newPosts__span'><i class="fas fa-star", style="color: #ff7f50;"></i> Best 3</span></h3>
          <%= render 'best-post', ranks: @ranks %>
        <div class="newPosts__more d-flex justify-content-end">
          <%= link_to 'posts?popular=true', class: 'btn btn-other px-3 mt-2' do %>
            <i class="fas fa-plane"></i>
            ブックマーク順
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--トップに戻るボタン-->
<span id="back">
  <a href="#">
    <h1><i class="far fa-arrow-alt-circle-up" style="color: #ff7f50;"></i></h1>
  </a>
</span>
