<!--MV-->
<div class="container-fluid">
  <div class="row mvTop">
    <!--カルーセル部分-->
    <div class="col-md-7 p-0">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      	 <ul class="carousel-indicators">
          <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleFade" data-slide-to="1"></li>
          <li data-target="#carouselExampleFade" data-slide-to="2"></li>
        </ul>
      	<div class="carousel-inner bgCarousel">
      		<div class="carousel-item bgCarousel__item active"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      		<div class="carousel-caption d-none d-block">
            <h2 class="bgCarousel__mv-title"><span class="bgCarousel__caption--bg">旅をもっと快適に</span></h2>
            <p class="bgCarousel__mv-body"><span class="bgCarousel__caption--bg">時間を持て余すことなく楽しみ尽くす<span></p>
          </div>
      	</div>
      </div>
    </div>
    <!--文字部分-->
    <div class="col-md-5 d-flex flex-column justify-content-center">
      <div class="row justify-content-center">
        <h1><span class="topMain__about">It's Fun To Travel <i class="fas fa-plane" style="color: #ff7f50;"></i></span></h1>
        <h4 class="pt-3 topMain__body"><span class="topMain__body--span">AIRSUPPORT</span>で旅をもっと気軽に楽しもう</h4>
        <h4 class="pt-2 topMain__body"><i class="fas fa-search-location"></i> 空港からすぐ近くの、お店や場所を探す</h4>
      </div>
      <div class="row d-flex justify-content-center mt-5">
        <div class="topLink">
          <%= link_to about_path, class: 'btn topLink__btn px-5 mr-2' do %>
            <i class="fas fa-check fa-lg"></i>
            About
          <% end %>
          <%= link_to search_path, class: 'btn topLink__btn px-5 ml-2' do %>
            <i class="fas fa-search fa-lg"></i>
            Search
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!--NEWPOST-->
  <div class="row newPosts py-5 my-5">
    <div class="col-md-7 pl-md-5">
      <h3><span class='newPosts__span'><i class="fas fa-star", style="color: #ff7f50;"></i> New Post</span></h3>
      <% @posts.each do |post| %>
        <div class="card mt-4">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag post.get_post_image, class: 'newPosts__img-fluid' %>
            </div>

            <div class="col-md-8 d-flex flex-column justify-content-between">
              <%= link_to post_path(post), class: 'text-dark' do %>
              <h5 class="card-title font-weight-bold pt-3"><span class="link-border"><%= post.title %></span></h5>
              <% end %>
              <p class="card-text"><%= post.body.truncate(25) %></p>
              <div class="card-text d-flex justify-content-between pb-3 pr-3">
                <p><small>
                  <i class="fas fa-tag"></i>
                  <% post.tags.each do |tag| %>
                    <%= link_to tag.name, search_index_path(tag_ids: tag.id), class: "text-dark border-bottom" %>
                  <% end %>
                  <span> | </span>
                  <i class="fas fa-plane"></i>
                  <%= link_to post.airport, search_index_path(airport: post.airport), class: "text-dark border-bottom" %>
                  <br>
                  <i class="fas fa-user"></i>
                  <%= link_to post.user.name, user_path(post.user), class: 'text-dark border-bottom' %>
                  <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
                </small></p>
                <div class="align-self-center"><%= link_to "Read More", post_path(post), class: 'btn newPosts__btn align-left' %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="d-flex justify-content-end mt-3">
        <%= link_to posts_path, class: 'link-border' do %>
          <i class="fas fa-check fa-lg" style="color: #ff7f50;"></i>
          <span class="text-dark link-border">全ての投稿を見てみる</span>
        <% end %>
      </div>
    </div>

    <!--best3部分-->
    <div class="col-md-4 offset-md-1 pr-md-5">
      <h3 class="mb-4"><span class='weeklyPosts'><i class="fas fa-crown", style="color: #ff7f50;"></i> Weekly Best 3</span></h3>
      <div id="carouselExampleIndicators" class="carousel slide  d-flex align-items-center flex-column" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% @ranks.first(1).each do |rank| %>
              <%= render 'public/posts/post-card', post: rank %>
            <% end %>
          </div>
          <% @ranks.drop(1).each do |rank| %>
            <div class="carousel-item">
              <%= render 'public/posts/post-card', post: rank %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to 'posts?popular=true', class: 'link-border' do %>
          <i class="fas fa-check fa-lg" style="color: #ff7f50;"></i>
          <span class="text-dark link-border">人気投稿順に見てみる</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container topGuidance py-5 my-5">
  <div class="col-10 mx-auto topGuidance__row d-flex align-items-center flex-column">
    <h3 class="topGuidance__title my-4"><span class="topGuidance__title--span"><i class="fas fa-user-plus"></i> </span>会員登録するとできること</h3>
    <ul class="topGuidance__body p-3">
      <li>あなたの投稿をシェアできるようになります</li>
      <li>お気に入りの投稿をブックマークに保存することができます</li>
      <li>投稿は下書きとして非公開にしておくことも可能です</li>
      <li>マイページ、他のユーザーのページにアクセスできます</li>
      <li>ユーザーごとの投稿一覧が閲覧可能になります</li>
    </ul>
    <%= link_to '新規会員登録する', new_user_registration_path, class: 'btn topGuidance__btn mb-3' %>
  </div>
</div>

<!--トップに戻るボタン-->
<span id="back">
  <a href="#">
    <h1><i class="far fa-arrow-alt-circle-up" style="color: #ff7f50;"></i></h1>
  </a>
</span>



