<!--MV-->
<div class="container-fluid">
  <div class="row mvTop">
    <!--カルーセル部分-->
    <div class="col-md-7 p-0">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      	 <ul class="carousel-indicators">
          <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleFade" data-slide-to="1"></li>
          <li data-target="#carouselExampleFade" data-slide-to="2"></li>
        </ul>
      	<div class="carousel-inner bgCarousel">
      		<div class="carousel-item bgCarousel__item active"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      		<div class="carousel-item bgCarousel__item"></div>
      	</div>
      </div>
    </div>
    <!--文字部分-->
    <div class="topMain col-md-5 d-flex flex-column justify-content-center">
      <div class="row justify-content-center">
        <h1><span class="topMain__about">It's Fun To Travel <i class="fas fa-plane" style="color: #ff7f50;"></i></span></h1>
        <h4 class="pt-3 topMain__body"><span class="topMain__body--span">AIRSUPPORT</span>で旅をもっと気軽に楽しもう</h4>
        <h4 class="pt-2 topMain__body"><i class="fas fa-search-location"></i> 空港からすぐ近くの、お店や場所を探す</h4>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="topLink d-flex">
          <%= link_to about_path, class: 'btn topLink__btn px-5 mt-5' do %>
            <i class="fas fa-check fa-lg"></i>
            AIRSUPPORTについて
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--NEWPOST-->
<div class="container newPosts py-5 my-5">
  <div class="col-11 mx-auto newPosts__col">
    <div class="col-md-8 mx-auto py-5 mx-3 bg-white">
      <h3 class="mt-3"><span class='newPosts__span'><i class="fas fa-star", style="color: #ff7f50;"></i> New Post</span></h3>
      <% @posts.each do |post| %>
        <div class="card mt-4">
          <div class="row">
            <!--写真部分-->
            <div class="col-md-4">
              <%= link_to post_path(post), class: 'text-dark' do %>
                <%= image_tag post.get_post_image, class: 'newPosts__img-fluid' %>
              <% end %>
            </div>
            <!--文章部分-->
            <div class="col-md-8 d-flex flex-column justify-content-between">
              <div>
                <%= link_to post_path(post), class: 'text-dark' do %>
                  <h4 class="font-weight-bold pt-3"><span class="link-border"><%= post.title %></span></h4>
                  <p class="card__text pt-3"><%= post.body %></p>
                <% end %>
              </div>
              <div>
                <p><small>
                  <i class="fas fa-tag"></i>
                  <% post.tags.each do |tag| %>
                    <%= link_to tag.name, posts_path(tag_ids: tag.id), class: "text-dark border-bottom" %>
                  <% end %>
                  <br>
                  <i class="fas fa-bookmark"></i>
                  <%= post.bookmarks.count %>
                  <span> | </span>
                  <i class="fas fa-plane"></i>
                  <%= link_to post.airport, posts_path(airport: post.airport), class: "text-dark border-bottom" %>
                  <span> | </span>
                  <%= post.created_at.strftime('%Y/%m/%d') %>
                </small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="newPosts__more d-flex justify-content-end">
        <%= link_to posts_path, class: 'btn btn-other px-5 mt-5' do %>
          <i class="fas fa-plane"></i>
          全ての投稿を見る
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container topGuidance py-5 my-5">
  <div class="col-11 mx-auto topGuidance__col d-flex align-items-center flex-column">
    <h3 class="topGuidance__title my-4"><span class="topGuidance__title--span"><i class="fas fa-user-plus"></i> </span>会員登録するとできること</h3>
    <ul class="topGuidance__body p-3">
      <li>あなたの思い出や情報をシェアできるようになります</li>
      <li>お気に入りの投稿をブックマークに保存できます</li>
      <li>投稿は下書きとして非公開にしておくことも可能です</li>
      <li>気になるユーザーの投稿一覧がチェックできます</li>
    </ul>
    <%= link_to '新規会員登録する', new_user_registration_path, class: 'btn topLink__btn mb-3 px-5' %>
  </div>
</div>




<div class="container">
  <div class="row newPosts py-5 my-5">
    <!--best3部分-->
    <div class="col-md-4 offset-md-1 pr-md-5">
      <h3 class="mb-4"><span class='weeklyPosts'><i class="fas fa-crown", style="color: #ff7f50;"></i> Best 3</span></h3>
      <div id="carouselExampleIndicators" class="carousel slide  d-flex align-items-center flex-column" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <% @ranks.first(1).each do |rank| %>
              <%= render 'public/posts/post-card', post: rank %>
            <% end %>
          </div>
          <% @ranks.drop(1).each do |rank| %>
            <div class="carousel-item">
              <%= render 'public/posts/post-card', post: rank %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to 'posts?popular=true', class: 'link-border' do %>
          <i class="fas fa-check fa-lg" style="color: #ff7f50;"></i>
          <span class="text-dark link-border">人気投稿順に見てみる</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--トップに戻るボタン-->
<span id="back">
  <a href="#">
    <h1><i class="far fa-arrow-alt-circle-up" style="color: #ff7f50;"></i></h1>
  </a>
</span>



