<div class="container">

   <%= render "error", obj: @tag %>

   <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_with model: @tag, url: admin_tag_path, method: :patch do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
          <%= f.submit '更新する', class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>