<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto pt-5">
      <h2>タグ編集</h2>
    </div>
  </div>
</div>

<div class="container py-5">
   <%= render "error", obj: @tag %>
   <div class="row">
    <div class="col-md-6 mx-auto py-5">
      <%= form_with model: @tag, url: admin_tag_path, method: :patch do |f| %>
        <div class="form-group d-flex justify-content-around">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true %>
          <%= f.submit '更新する', class: 'btn btn-outline-success btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>