<div class="container my-5 py-5">
  <!--投稿詳細-->
  <%= render "/public/posts/post-detail", post: @post %>

  <div class="row offset-md-1 my-2">
    <h5 class="comment-title ml-1"><i class="far fa-comments"></i> コメント</h5>
  </div>
  <!--コメントエリア-->
  <div class="row">
    <div class="comment-area col-md-5 offset-md-1">
      <% unless @post.post_comments.present? %>
        <p class="text-muted">まだコメントがありません。</p>
      <% end %>

      <% @comments.each do |post_comment| %>
        <%= image_tag post_comment.user.get_profile_image(30,30), class: 'rounded-circle border' %>
        <%= link_to post_comment.user.name, admin_user_path(post_comment.user), class: 'text-dark' %>
        <span>  : <%= post_comment.comment %></span>
        <small class="text-muted"><p class="d-flex justify-content-end pr-5">
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: 'text-dark border-bottom text-muted', data: {confirm: "このコメントを削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </p></small>
      <% end %>

      <div class="row">
        <div class="col-md-6 mx-auto pt-2 d-flex justify-content-center">
          <p><%= paginate @comments %></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="not-signin d-flex">
          <%= link_to '※この投稿を削除する（管理者）※', admin_post_path(@post), method: :delete, class: 'text-danger h5', data: {confirm: "本当に削除しますか？"}  %>
      </div>
    </div>
  </div>
</div>
