<div class="container">
  <div class="row my-5 d-flex justify-content-center">
      <h4><span class="registration px-2">新規会員登録</span></h4>
  </div>

  <div class="form-group d-flex justify-content-center">
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group row">
        <label for="inputName" class="col-md-6 col-form-label"><%= f.label :name %></label>
        <div class="col-md-6">
          <%= f.text_field :name, autofocus: true %><br>
          <small class="text-muted">*ユーザー名は後から変更可能</small>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail" class="col-md-6 col-form-label"><%= f.label :email %></label>
        <div class="col-md-6">
          <%= f.email_field :email, placeholder: "sample@sample.com", autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPass" class="col-md-6 col-form-label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %> 文字以上)
          <% end %>
        </label>
        <div class="col-md-6">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPass" class="col-md-6 col-form-label"><%= f.label :password_confirmation %></label>
        <div class="col-md-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions d-flex justify-content-center pb-5">
        <%= f.submit "新規登録", class: 'btn btn-outline-warning text-dark px-4' %>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center pb-5">
    <%= render "public/shared/links" %>
  </div>
</div>