<div class="container">
  <div class="row">
    <div class="col-md-6 pt-5 mt-5">
      <table class="table table-borderless">
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100), class: 'border'%></td>
          <td></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><%= link_to "この会員の投稿一覧へ", posts_admin_user_path(@user) %></td>
          <td><%= link_to "編集する", edit_admin_user_path(@user) %></td>
          <td><%= link_to "ユーザーの削除", admin_user_path(@user), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        </tr>
      </table>
    </div>
  </div>
</div>