<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto pt-5">
      <h3><span class="admin-title"><%= @user.name %>さんの詳細ページ</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <table class="table table-borderless">
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100), class: 'border'%></td>
          <td></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td><i class="far fa-sticky-note"></i><%= link_to "#{@user.name}さんの投稿一覧", posts_admin_user_path(@user), class: 'text-dark border-bottom ml-1' %></td>
        </tr>
        <tr>
          <% unless @user.name == 'guestuser' %>
            <td><i class="fas fa-user-edit"></i><%= link_to "編集する", edit_admin_user_path(@user), class: 'text-dark border-bottom ml-1' %></td>
          <% end %>
        </tr>
        <tr>
          <td style="font-weight: bold; color: green;"><%= @user.is_deleted ? '利用停止中です' : '有効な会員です' %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <% unless @user.name == 'guestuser' %>
              <%= link_to "このユーザーを完全に削除する", admin_user_path(@user), method: :delete, class: 'btn btn-outline-danger btn-sm ml-2', data: {confirm: "本当に削除しますか？"} %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
