<div class="container">
  <div class="row my-5 d-flex justify-content-center">
      <h4><span class="session px-2">ログイン</span></h4>
  </div>



  <div class="form-group d-flex justify-content-center">
    <%= form_with model: @user, url: user_session_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group row">
        <label for="inputEmail" class="col-md-6 col-form-label"><%= f.label :email %></label>
        <div class="col-md-6">
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPass" class="col-md-6 col-form-label"><%= f.label :password %></label>
        <div class="col-md-6">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions d-flex justify-content-center pb-5">
        <%= f.submit "ログイン", class: 'btn btn-outline-success text-dark px-4' %>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center pb-5">
    <%= render "public/shared/links" %>
  </div>
</div>