<!DOCTYPE html>
<html>
  <head>
    <title>airsupport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <body class="d-flex flex-column vh-100">
    <header class="shadow-sm sticky-top">
      <%= render "layouts/header" %>
    </header>

    <main>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    <%= yield %>
    </main>

    <footer class="bg-light text-black pt-5 pb-4 mt-5">
      <%= render "layouts/footer" %>
    </footer>
  </body>



</html>
